        body {
            background-color: #f4f4f9;
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            text-align: center; /* Центрує текст у всьому документі */
        }

        header,
        nav,
        main {
            width: 90%;
            margin: 0 auto;
            max-width: 1200px;
        }

        header {
            padding: 20px 0;
            background-color: #282c34;
            color: white;
        }

        nav {
            margin-bottom: 20px;
            background-color: #333;
            padding: 10px 0;
        }

        nav a {
            text-decoration: none;
            padding: 10px 20px;
            margin: 10px;
            background-color: #444;
            border: 2px solid #444;
            color: white;
            display: inline-block;
            transition: all 0.3s ease;
            border-radius: 4px;
        }

        nav a:hover {
            background-color: #555;
            border-color: #555;
        }

        h1,
        h2 {
            color: #222;
        }

        h3 {
            background-color: #e0e0e0;
            padding: 10px;
            margin: 20px 0;
            font-size: 24px;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        h3:hover {
            background-color: #d0d0d0;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            margin: 10px 0;
            padding: 10px;
            background-color: #fff;
            border-left: 4px solid #333;
            display: inline-block; /* Додаємо для центрування */
            transition: background-color 0.3s ease;
        }

        p:hover {
            background-color: #f0f0f0;
        }

        .iframe-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;
            margin: 20px 0;
        }

        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @media (max-width: 768px) {
            header,
            nav,
            main {
                width: 95%;
            }

            nav a {
                display: block;
                margin: 5px 0;
            }
        }
